# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# EmailJS
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_AUTOREPLY_TEMPLATE_ID=
